/******************
COMMAND
******************/

* {  
    margin: 0;  
    padding: 0; 
    box-sizing:border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/******************
INTESTAZIONE PAGINA
******************/
header{
    background-color:#255EE9;
    padding:18px 0;
}

header .flex-container{
    display:flex;
    width:80%;
    margin:0 auto;
    font-size:20px;
}

.flex-container .flex-item-lateral{
    padding:14px;
    flex-grow:1;
}
.flex-container .flex-item-lateral #logo-header{
    width:150px;
}

.flex-container .flex-item-central{
    list-style-type: none;
    display:flex;
    padding:14px;
    flex-grow:3;
    flex-shrink:0;
    justify-content:center;
    color: #FFFFFF;
}

.flex-container .flex-item-central > li{
    margin-left:12px;
    margin-right:12px;
    line-height:35px;
}

header .flex-container .flex-item-lateral:last-child{
    text-align:right;
}

.flex-container .flex-item-lateral #btn-accedi{
    background-color: #FFFFFF;
    padding:10px;
    border-radius:20px;
    border: 1px solid #FFFFFF;
}


/******************
CORPO PAGINA
******************/

/******************
PRIMA SEZIONE
******************/

main .background{
    padding-top:50px;
    padding-bottom:50px;
}

main #first-section{
    background-image: url('../img/jumbo.png');
    background-size:cover;
    color: #FFFFFF;
}

main .background .unique-box{
    width:50%;
    margin: 0 auto;
    text-align:center;

}
main .background .unique-box > h1{
    line-height:60px;
}
main .background .unique-box > p{
    line-height:30px;
    font-size:22px;
}
main .background .unique-box .buttons{
    margin-top:50px;
    margin-bottom:100px;
}
main .background .unique-box .btn-white{
    background-color: #FFFFFF;
    padding:10px;
    border-radius:20px;
    border: 1px solid #FFFFFF;
    margin-right:20px;
    font-size:20px;
}

main .background .unique-box .btn-black{
    background-color: #000000;
    padding:10px;
    border-radius:20px;
    border: 1px solid #000000;
    color:#FFFFFF;
    margin-left:20px;
    font-size:20px;
}


/******************
SECONDA SEZIONE
******************/

main .background .contain-flex{
    width:70%;
    display:flex;
    margin:0 auto;
}

main .background .contain-flex .first-item{  
    flex-grow:2;
}

main .background .contain-flex .second-item{
    flex-grow:1;
}
main .background .contain-flex .second-item > h1{
    margin-top:30px;
    font-size:40px;
    line-height:50px;
}
main .background .contain-flex .second-item > p{
    margin-top:40px;
    line-height:25px;
}

/******************
TERZA SEZIONE
******************/

main .background:nth-child(3){
    background-color:#D3D3D3;
}

main .background .contain-flex #order1{
    order:2;
}
main .background .contain-flex #order2{
    order:1;
}

/******************
QUARTA SEZIONE
******************/

/**NON C'E' NULLA **/



/******************
QUINTA SEZIONE
******************/
main .background:nth-child(5){
    background-color:#D3D3D3;
}

main .background #second-box-unique{
    width:70%;
    background-color:#228B23;
    height:900px;
}


/******************
SESTA SEZIONE
******************/

main #sixth-section{
    background-color:#23272A;
    padding-top:10px;
    padding-bottom:40px;
}
main #sixth-section .sixth-container{
    height:580px;
    width:70%;
    display:flex;
    margin:0 auto;
    border: 2px dotted #000000;
}

main #first-item-sixth{
    flex-grow:1;
    background-color:#F18080;
}

main #second-item-sixth{
    flex-grow:3;
    background-color:#1EB2AA;
    display:flex;
    
}

.first-son-item, .second-son-item, .third-son-item, .fourth-son-item{
    border: 2px dotted #FFFFFF;
    flex-grow:1;
}


/******************
PIEDE DELLA PAGINA
******************/

footer{
    background-color:#23272A;
    padding-top: 30px;
    border-top: 2px solid #FFFFFF;
    padding-bottom: 5px;
}

footer .contain-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#7FFFD4;
    width:70%;
    height:80px;
    margin: 0 auto;
}

footer .contain-flex .flex-item{
    background-color:#FFB6C1;
    border: 2px dotted #000000;
    padding:10px;
}